/* Main styles */

.speakers{
  width:100%;
}

.speakers__title{
  font-size: 37px;
  font-weight: 400;
  line-height: 49px;

  padding-bottom: 70px;
}

.speakers__grid{
  width:100%;

  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-column-gap: 30px;
  grid-row-gap: 40px;
}

/* Card styles */

.speaker__card{
  grid-column: span 2;
  position:relative;
  width:100%;
  height:100%;
}

.speaker__photo{
  /* width:calc(990px) */
  padding-bottom: 35px;
}

.speaker__name{
  font-size: 20px;
  font-weight: 300;
  line-height: 26px;  
  color:white;

  padding-bottom: 10px;
}

.speaker__line{
  width:243px;
  height:3px;
  background: #534878;
}

.speaker__description{
  padding-top: 10px;
  font-size: 16px;
  font-weight: 200;
  line-height: 21px;
  padding-bottom:35px;
}

.speaker__link{
  font-size: 16px;
  font-weight: 200;
  line-height: 21px;
  color:rgba(255,255,255,0.5);
  
  position:absolute;
  left:0;
  bottom:0;
}

.speaker__link:visited{
  color:rgba(255,255,255,0.5);
}

@media screen and (max-width:1169px){
  .speaker__card{
    grid-column: span 3;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
  }
}

@media screen and (max-width:769px){
  .speakers__title{
    font-size: 32px;
    line-height: 45px;
  }

  .speaker__card{
    grid-column: span 6;
    grid-row-gap: 25px;
  }

  .speaker__photo{
    width:400px;
    padding-bottom: 25px;
  }
}

@media screen and (max-width:449px){
  .speaker__photo{
    width:280px;
    padding-bottom: 25px;
  }
} 